:root {
  --night:  #151515;
  --jet: #3A3A3A;
  --white: #f2f0ef;
  --terracota: #8d2b00;
  --cinnabar: #b55119;
  --navy-dark: #374151;
  --navy: #32565D; 
  --musgo: #9CAC55;
  --musgo-hover: #659157;
  --grey: #b0b0b0;
  --rosa: #EFE4D6;
  --new-blue: #7EA799;
  --orange: #D36135;
  --new-terracota: #E2B07E;
}

/* Background Colors */
.bg-jet { background-color: var(--jet); }
.bg-white { background-color: var(--white); }
.bg-terracota { background-color: var(--terracota); }
.bg-cinnabar { background-color: var(--cinnabar); }
.bg-navy { background-color: var(--navy); }
.bg-light-blue { background-color: var(--navy-hoover);}
.bg-musgo { background-color: var(--musgo); }
.bg-musgo-lighter { background-color: var(--musgo-hoover);}
.bg-rosa {background-color: var(--rosa);}

/* Text Colors */
.text-jet { color: var(--jet); }
.text-white { color: var(--white); }
.text-terracota { color: var(--terracota); }
.text-cinnabar { color: var(--cinnabar); }
.text-navy { color: var(--navy); }
.text-musgo { color: var(--musgo); }
.text-grey {color: var(--grey);}
.text-rose {color: var(--label-text);}

/* Border Colors */
.border-jet { border-color: var(--jet); }
.border-terracota { border-color: var(--terracota); }
.border-navy { border-color: var(--navy); }


::-moz-selection { /* Code for Firefox */
  color: var(--white);
  background: var(--cinnabar);
}

::selection {
  color: var(--white);
  background: var(--cinnabar);
}

