#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;

    /* Reduced transform transition for immediate movement */
    transition: transform 0.01s linear, /* Very short, almost instant movement */
                opacity 0.2s ease,
                width 0.15s ease-out, /* Reduced duration for snappier size changes */
                height 0.15s ease-out; /* Reduced duration for snappier size changes */

    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    will-change: transform, width, height;

    background-color: rgba(255, 255, 255);

    pointer-events: none;
    z-index: 9999;

    transform: translate(0px, 0px) translate(-50%, -50%);

    backdrop-filter: invert(0.5);
    -webkit-backdrop-filter: invert(0.5);
    mix-blend-mode: difference;
}

#custom-cursor.is-enlarged {
    width: 2.5em;
    height: 2.5em;
}

#custom-cursor.is-clicked {
    width: 1em;
    height: 1em;
    transition: transform 0.1s ease;
}

.clickable-object {
    cursor: none !important;/* This will be overridden by custom cursor, but helps visually */
    display: inline-block; /* For buttons and anchors */
    text-decoration: none; /* For anchors */
    transition: background-color 0.2s ease;
}

a, button, input[type="button"], input[type="submit"], input[type="reset"], input, textarea, span, label {
    cursor: none !important;
}